### Introduction

The data can be acquired from this [link]( https://raw.githubusercontent.com/gmonce/scikit-learn-book/master/data/titanic.csv)

### Setup

In [1]:
# in case this isn't already set in the config file
%matplotlib inline

# import data visualization tools
import matplotlib.pyplot as plt
import seaborn as sns

# import a common data manipulation library, pandas
import pandas as pd
from pandas import DataFrame

import numpy as np

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/usr/local/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
titanic_df = pd.read_csv('titanic.csv')

In [7]:
sorted(titanic_df)

['age',
 'boat',
 'embarked',
 'home.dest',
 'name',
 'pclass',
 'room',
 'row.names',
 'sex',
 'survived',
 'ticket']

In [8]:
train_df = pd.read_csv('train.csv')
sorted(train_df)

['Age',
 'Cabin',
 'Embarked',
 'Fare',
 'Name',
 'Parch',
 'PassengerId',
 'Pclass',
 'Sex',
 'SibSp',
 'Survived',
 'Ticket']

In [11]:
test_df = pd.read_csv('test.csv')
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### Question 1

**Were older people more likely to survive than younger people on the Titanic?**

We will perform an exploratory PCA with a scree plot to see how much the age has an influence on the survival label, and then see if the observations of those who survived cluster around the age.

### Question 1 Discussion

### Question 2

**Were passengers with larger families more likely to survive than those with smaller families or who traveled alone?**

### Question 2 Discussion